* {
	box-sizing: border-box;
	user-select: none;
}

body, html {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#root {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#arena-line {
	height: 500px;
	width: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	border-radius: 100%;
	overflow: hidden;
}

#movable-entity-container {
	position: relative;
	width: 0;
	height: 0;
}

.movable-entity {
	position: absolute;
}

.player {
	position: relative;
}

.player > img {
	width: 100%;
	height: 100%;
	position: absolute;
}

.sentry > img {
	width: 100%;
	height: 100%;
	position: absolute;
}

#hud {
	margin-bottom: 8px;
	display: flex;
	align-items: center;
}

#score, #time, #sentry-cooldown {
	display: flex;
	align-items: center;
	margin: 0 16px;
}

#score > img, #time > img, #sentry-cooldown > img {
	width: 30px;
	height: 30px;
	margin-right: 8px;
}