:root {
	--white: #d1d8e0;
	--gray: #a5b1c2;
	--black: #363636;
	--red: rgb(97, 3, 19);
	--green: #6ecc9d;
	--pink: rgb(223, 11, 194);
	--dark-green: #20bf6b;
	--grass-green: #C7F899;
	--blue: #4b7bec;
	--orange: #fd940a;
	--very-light-green: #D8F0D8;
  }

* {
	box-sizing: border-box;
}

body, html {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

#root {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid {
	display: grid;
	width: 100%;
	height: 100%;
}

.candy {
	border: 2px solid black;
	border-radius: 16px;
	cursor: pointer;
	position: relative;
	left: 0;
	top: 0;
	margin: 4px;
	transition: 200ms border;
}

.highlighted {
	z-index: 2;
	border: 7px solid red;
}


#game-info {
	width: 20%;
	height: 100%;
	padding: 5px 20px;
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

#dashboard {
	width: 100%;
	height: 100%;
	background-color:var(--orange);
	padding: 30px;
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#time-bar {
	width: 50px;
	height: 100%;
	background-color: var(--pink);
	border: 3px solid var(--black);
	border-radius: 10px;
  }

  #time-left {
	margin: auto;
	width: 40px;
	height: 100%;
	background-color: var(--red);
	border: 0px solid var(--black);
	border-radius: 10px 10px 0px 0px;
  }
  

.gameover {
	color: rgb(218, 11, 218);
	background-color: rgb(148, 243, 235);
	width: 400px;
	height: 410á¹•x;
	text-align: center;
	border-radius: 20px;
	padding: 20px;
	font-weight: bolder;
	display: grid;
}

.gameover h1, p {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif	;
}

.reload img {
	position: relative;
	width: 40%;
	height: 80%;
	margin: auto;
	padding: 10px;
	filter: contrast(0) sepia(100%) hue-rotate(16deg) brightness(1.4) saturate(4.28);
}
