:root {
  --white: #d1d8e0;
  --gray: #a5b1c2;
  --black: #4b6584;
  --red: #fc5c65;
  --green: #26de81;
  --dark-green: #20bf6b;
  --grass-green: #C7F899;
  --blue: #4b7bec;
  --orange: #fd9644;
  --very-light-green: #D8F0D8;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--white);
}

button {
  border: 3px solid var(--blue);
  margin: 5px;
  width: 50%;
  height: 48px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 18px;
}

#arena {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  background-color: var(--very-light-green);
  border: 5px solid var(--black);
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.grass {
  width: 100%;
  height: 50px;
  background-color: var(--grass-green);
  border: 2px solid var(--green);
  border-radius: 100%;
  position: relative;
  top: -25px;
}

#squirtle {
  width: 100px;
  padding: 0 20px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#squirtle img {
  position: relative;
  left: 10px;
  z-index: 1;
}

#opponent-health-bar {
  width: 100%;
  height: 10px;
  background-color: var(--red);
  border: 3px solid var(--black);
  margin: 5px;
}

#opponent-health {
  width: inherit;
  height: 100%;
  background-color: var(--green);
  transition: 1000ms;
}


#pikachu {
 width: 100px;
 padding: 0 20px;
}

#pikachu img {
  position: relative;
  z-index: 1;
}

#player-health-bar {
  width: 100%;
  height: 10px;
  background-color: var(--red);
  border: 3px solid var(--black);
  margin: 5px;
}

#player-health {
  width: inherit;
  height: inherit;
  background-color: var(--green);
  transition: 1000ms;
}

#text {
  text-align: center;
  font-size: 30px;
  margin: 0;
}

#options {
  background-color: var(--orange);
  margin: 16px 0;
  padding: 16px 25px;
}

.row {
  display: flex;
}
