* {
	box-sizing: border-box;
}

body, html {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

#game-info {
	display: flex;
	margin: auto;
	justify-content: space-around;
	padding: 3vh 20vw 0;
}

#game-info div p {
	font-size: 200;
}

#root {
	height: 80%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#arena-line {
	height: 500px;
	width: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	border-radius: 100%;
	overflow: hidden;
	margin: 0;
}

#movable-entity-container {
	position: relative;
	transform: translate(-50%, -50%);
}

.movable-entity {
	position: absolute;
}