* {
	box-sizing: border-box;
}

body, html {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

#root {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#arena-line {
	height: 500px;
	width: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	border-radius: 100%;
	
}

#movable-entity-container {
	position: relative;
	transform: translate(-50%, -50%);
}

.movable-entity, .entity {
	background-color: rgba(255, 255, 255, 0);
	position: absolute;
}

.score {
	display: flex;
	box-sizing: border-box;
	justify-content: space-around;
}
.score :last-child {
	margin: 10px;
}

.score :first-child {
	margin: 10px;
}

.text-center {
	text-align: center;
}

.gameover {
	position: absolute;
	color: rgb(218, 204, 11);
	background-color: rgb(126, 99, 10);
	width: 400px;
	height: 410á¹•x;
	text-align: center;
	border-radius: 20px;
	padding: 20px;
	font-weight: bolder;
}

.gameover h1, p {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif	;
}

.reload img {
	position: relative;
	width: 40%;
	height: 40%;
	margin: auto;
	padding: 10px;
	filter: contrast(0) sepia(100%) hue-rotate(16deg) brightness(1.4) saturate(4.28);
}
